@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #f2f2f2 !important;
  font-family: "Poppins", sans-serif !important;
}

.landing {
  background: url(book.svg);
  height: 100vh !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.text-landing {
  font-size: larger !important;
  margin-top: -50px !important;
  margin-bottom: 50px !important;
}

.left-section {
  padding: 45px 0px 0px 100px !important;
}

.logo {
  width: 400px !important;
  height: auto !important;
}

.btn-group {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.radius {
  border-radius: 3px !important;
  margin-right: 20px !important;
  border: none !important;
  height: 40px !important;
  cursor: pointer !important;
}

.ws {
  width: 155px !important;
}

.w-auto {
  width: 100% !important;
}

.auto {
  border-radius: 3px !important;
  border: none !important;
  height: 35px !important;
  cursor: pointer !important;
}

.btn-login {
  background-color: #cdcdcd;
  color: black;
}

.btn-reg {
  background-color: #d60000;
  color: white;
}

.p-e {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar {
  width: 250px;
}

/* .mr-tm {
  margin-top: -51px;
} */

.mr-side {
  margin-top: 51px;
}

.mr-g {
  margin-left: 50px;
}

.wow {
  width: 120px;
  height: auto;
}

.rotate {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.current {
  color: #d60000 !important;
}

.ava {
  border: 3px solid #000;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.icon {
  margin-top: 3.5px;
  width: 16px;
  height: 15px;
}

.cont {
  margin-left: 11%;
  padding-top: 3%;
  height: 100vh;
}

.dc {
  width: 400px;
  margin: auto;
}

.wd-a {
  width: 100%;
  height: auto;
}

.bg {
  background: #ffd9d9 !important;
}
